.side_nav {
    width: 400px;
    color: brown;
    padding-left: 100px;
    font-family: ui-sans-serif;
    margin-left: 900px;
    float: left;
}

.kmom {
    background-color: whitesmoke;
}

.header {
    background-color: whitesmoke;
}

ul {
    position: relative;
    padding-left: 100px;
    background-color: rgb(78, 55, 143);
}

li {
    display: block;
    float: left;
}

ul li a {
    color: #000;
    position: relative;
    padding-left: 200px;
    border-bottom: solid blue;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

header p {
    margin: auto;
    width: 20%;
}

#för-eftermiddag {
    background-color: aliceblue;
}

#today {
    background-color: aliceblue;
}
