* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}

#kmom01 {
    font-size: 3rem;
}

#today {
    border: #000 solid 2px;
    width: 300px;
    height: 300px;
}

#för-eftermiddag {
    border: #000 solid 2px;
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 1em;
}